* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans 3', sans-serif;
    list-style: none;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1.538em;
    align-items: center;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

#logo > span {
    font-size: 0.85rem;
    text-transform: capitalize;
    font-weight: 700;
}

ul > li {
    display: inline-block;
    font-size: 0.75rem;
    font-weight: 600;
    margin-left: 2.58em;
    text-transform: uppercase;
}

#heroPost {
    color: white;
    position: relative;
}

#heroPost > img {
    width: 100%;
    object-fit: cover;
}

#heroPost > div {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 1.56em;
}

.date {
    font-size: 0.75rem;
    font-weight: 400;
    margin-bottom: 0.67em;
    text-transform: uppercase;
}

h3, h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.25em;
    line-height: 108%;
    text-transform: capitalize;
}

#heroPost > div > h2 {
    font-size: 2rem;
}

.discription {
    font-size: 1rem;
    font-weight: 400;
    text-transform: capitalize;
}

#otherPost {
    padding: 1.2em;
}


footer {
    padding: 3.08em;
    background-color: #202020;
    text-align: center;
}

footer > p {
    color: #ECECEC;
    font-weight: bold;
    font-size: 0.75rem;
}

footer > span {
    color: #D7D7D7;
    font-weight: 400;
    font-size: 0.75rem;
}
