* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Source Sans 3', sans-serif;
	list-style: none;
}

header {
	display: flex;
	justify-content: space-between;
	padding: 1.538em;
	align-items: center;
}

#logo {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3px;
}

#logo > span {
	font-size: 0.85rem;
	text-transform: capitalize;
	font-weight: 700;
}

ul > li {
	display: inline-block;
	font-size: 0.75rem;
	font-weight: 600;
	margin-left: 2.58em;
	text-transform: uppercase;
}


/*============== grid ============*/

.discription {
	font-size: 1rem;
	font-weight: 400;
	text-transform: capitalize;
	line-height: 125%;
}

img {
	width: 100%;
	object-fit: cover;
}

.date {
	display: inline-block;
	font-size: 0.75rem;
	font-weight: 400;
	margin-bottom: 0.67em;
	text-transform: uppercase;
}

h2 {
	font-weight: 700;
	margin-bottom: 0.25em;
	line-height: 108%;
	text-transform: capitalize;
}

.heroPost {
	position: relative;
	color: white;
}

.heroPost > div {
	position: absolute;
	display: inline-block;
	left: 0;
	bottom: 0;
	padding: 1.56em;
}

.heroPost > div > h2 {
	font-size: 1.5rem;
}

.card {
	color: #505050;
  margin: 1.2em;
}

.card > img {
	border-radius: 3px;
}








footer {
    padding: 3.08em;
    background-color: #202020;
    text-align: center;
}

footer > p {
    color: #ECECEC;
    font-weight: bold;
    font-size: 0.75rem;
}

footer > span {
    color: #D7D7D7;
    font-weight: 400;
    font-size: 0.75rem;
}
