* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Smythe', system-ui;
    list-style: none;
}

.container {
    margin: auto 40px;
}

header {
    background-image: url('images/wallpaper.png');
    background-size: cover;
    height: 167px;
}

header > div {
    height: inherit;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header > div > h2 {
    font-size: 39px;
    line-height: 44px;
}

header > div > p {
    font-size: 22px;
}

#mealList {
    margin-top: 40px;
}

#mealList > li {
    display: flex;
    align-items: center;
    width: 100%;
}

#mealList > li > .logo {
    font-size: 78px;
    padding: 35px 35px 35px 0px;
}

#mealList > hr {
    border: 1px solid #d2d2d2;
}

.addBtn {
    background-color: transparent;
    border: 1px solid #DEDEDE;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: auto;
    font-size: 32px;
    font-family: 'Inter', sans-serif;
    font-weight: lighter;
    padding-bottom: 5px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info > h3 {
    font-size: 28px;
}

.info > p {
    color: #8B8B8B;
    font-size: 16px;
}

.info > span {
    margin-top: 15px;
    font-size: 20px;
}

#order > h3 {
    margin: 30px auto;
    text-align: center;
    font-size: 28px;
}

#orderList > li {
    display: flex;
    margin-bottom: 10px;
}

#orderList > li > button {
    border: none;
    margin-left: 10px;
    background-color: transparent;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    color: #BBBBBB;
}

#order .price {
    margin-left: auto;
    font-size: 20px;
}

#order .itemName {
    font-size: 28px;
}

#order hr {
    border: 1px solid #393333;
    margin-bottom: 10px;
}

#orderBtn {
    margin-top: 40px;
    color: white;
    background-color: #16DB99;
    padding: 18px 185px;
    text-align: center;
    width: 100%;
    border: none;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

/* Form */

form {
    display: flex;
    flex-direction: column;
    max-width: 524px;
    height: fit-content;
    background-color: white;
    padding: 0px 20px 20px 20px;
    box-shadow: 0px 0px 400px #8f8e8e;
    position: fixed;
    right: 40;
    left: 40;
    top: 40;
    bottom: 40;
    margin: auto;
    border-radius: 4px;
}

form > h3 {
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    margin: 46px;
}

form > input {
    border-radius: 4px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    padding: 16px;
}

form > input[type = text] {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 23px;
    border: solid 1px #757575;
}

form > input[type = submit] {
    margin-top: 23px;
    background-color: #16DB99;
    border: none;
    color: white;

}
